@import "functions";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;800&display=swap');

//Custom variables

$recursive: 'Recursive', serif;
$raleway: 'Raleway', sans-serif;

$theme-colors: (
    "white": #ffff,
    "logo-red": #ded,
);

@import "bootstrap";

//global styles
body {
    font-family: $recursive;
}

h1 {
    font-family: $raleway;
    font-weight: 700;
    color: $white-font
}

.navbar-nav{
    color: $white-font !important;
}

.masthead {
    background: linear-gradient(rgba(252, 82, 82, 0.4), rgba(255, 255, 255, 0.3)),
    url(../images/gymnastics_hero_image_v2_crop.jpg)center/cover;
    height: 105vh;
  }