@import "functions";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;800&display=swap');

//Custom variables

$recursive: 'Recursive', serif;
$raleway: 'Raleway', sans-serif;

$logo-red: #a81010;

@import "bootstrap";

//global styles
body {
    font-family: $recursive;
}

h1 {
    font-family: $raleway;
    font-weight: 700;
    color: white;
    font-size: 3rem;
}

h2 {
    font-family: $recursive;
    font-weight: 600;
    color: white;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    color: white;
    word-wrap: normal;
}

.nav-link{
    font-weight: 700;
    &:hover {
        color: $logo-red !important;
    }
    &:active {
        color: $logo-red !important;
    }
}

.navbar-brand {
    height: 4rem;
    img {
        width: 5rem;
        height: 3rem;    
    }
  }

.notice {
    display: flex;
    justify-content: end;

}

.hero-text {
    padding-left: 5rem;
    margin-right: 45rem !important;
    margin-top: 10rem !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.masthead {
    background: linear-gradient(#ad1d1d91, #ffffff28),
    url(../images/gymnastics_hero_image_v2_crop.jpg)center/cover;
    height: 100vh;
  }

  section {
    background: linear-gradient(#ad1d1d91, #ffffff28),
    url(../images/gymnastics_hero_image_v2_crop.jpg)center/cover;
    height: 100vh;
  }